.address__items {
  @extend %flex-sb;
}

.address__list {
  @extend %list;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.address__link {
  @extend %flex-sb;
  @extend %link;
  font-size: $mail-text-size;
  line-height: $mail-text-line-height;
  font-weight: $header-text-weight;
  letter-spacing: $header-letter-spacing;
  font-style: normal;
  color: $grey-text-color;
  transition: color $transition-animation;
  &:hover,
  &:focus,
  &:active {
    color: $hover-text-color;
    cursor: pointer;
  }
}

.address__icon {
  fill: currentColor;
}

.address__span {
  margin-left: 10px;
}
