.footer {
  @extend %flex-sb;
  align-items: flex-start;
  background-color: $primary-background-color;
  color: $light-text-color;
  padding-top: $footer-padding-top;
  height: 252px;
}

.footer__contacts {
  display: inline-block;
  width: 230px;
}
