.backdrop {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity $transition-animation;
}
.backdrop__modal {
  position: relative;
  margin: auto;
  width: 530px;
  min-height: 580px;
  padding: 40px;
  background-color: $light-text-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
}
/*outline: none;
  background-color: $ight-text-color;
  cursor: pointer;
}

.close-modal-btn:hover svg,
.close-modal-btn:active svg,
.close-modal-btn:focus svg {
  fill: $hover-text-color;
}

.close-modal-btn svg {
  transition: fill $transition-animation;
}*/

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.form__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.form__agreement {
  @extend %flex-sb;
  margin: 20px 13px 30px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: $grey-text-color;
  &::before {
    display: inline-block;
    content: '';
    height: 15px;
    width: 14px;
    margin-right: 7px;
    background-image: url(../img/checkbox.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transition: background-image $transition-animation;
  }
}

.form__checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  &:checked + .form__agreement::before {
    background-image: url(../img/checkbox-checked.svg);
  }
}

.form__link {
  @extend %link;
  color: $hover-text-color;
  margin-left: 3px;
}

.form__button {
  margin: 0 123px;
}
